{% extends "ui/index.html" %}

{% if showstatus %}
    {% block status-block %}
    <div class="mod mod_status-message warning ~hide">
        <div class="mod-inner rounded-all">
            <span class="icon"></span>
            <div class="content">
                <h3>Dashboard</h3>
                <p>You have successfully logged into your dashboard..</p>
            </div>
        </div>
    </div>
    {% endblock %}
{% endif %}

{% block main-content %}
<div id="main-content" class="grid_16 main-content" role="main">
    <div class="content-inner clear-fix">
        
        <h1>Dashboard</h1>
        
        <div class="grid_8 alpha">
        
        <div class="grid_8 alpha mod mod-create-site">
            <div class="mod-inner rounded-all dropshadow-generic">
                
                <form 
                    id="ploud-createsite"
                    action="/dashboard/" 
                    method="get">
                
                    <h2>Create a New Plone Site</h2>
                    
                    <div class="mod mod_status-message error hide">
                        <div class="mod-inner rounded-all">
                            <span class="icon"></span>
                            <div class="content">
                                <h3>Login Message</h3>
                                <p>Login message.</p>
                            </div>
                        </div>
                    </div>
                    
                    <fieldset>
                    
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label for="createsite-site-name" title="">
                                    <span class="req">&bull;</span> Site Name
                                </label>
                            </div>                    
                            <div class="field-input">
                                <input 
                                    id="createsite-site-name" 
                                    name="createsite-site-name" 
                                    class="text rounded-all-inputs dropshadow-input" 
                                    value="" 
                                    type="text" />
                            </div>
                            <div class="field-note">
                                <p>.plone.net</p>
                            </div>
                        </div>
                    
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label for="site-type">
                                    <span class="req">&bull;</span> Site Type
                                </label>
                            </div>
                            <div class="field-input">
                                <select 
                                    id="createsite-site-type" 
                                    class="select" 
                                    name="createsite-site-type">
                                    
                                        <option value="">Select a Site Type</option>
                                        <option value="plone20">Plone 2.0</option>
                                        <option value="plone31">Plone 3.1</option>
                                        <option value="plone41">Plone 4.1</option>
                                    
                                </select>
                            </div>
                        </div>
                
                    </fieldset>
                    
                    <fieldset class="form-controls">
                        <div class="field-block clear-fix clear-fix submit-block">
                            <div class="field-input">
                                <button type="submit" class="button generic no-icon small-caps">
                                    Create Site<span class="icon"></span>
                                </button>
                            </div>
                            <div class="field-note">
                                <dl class="legend clear-fix">
                                    <dt><span class="req">&bull;</span></dt>
                                    <dd>denotes a required field.</dd>
                                </dl>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                </form>
    
            </div>
        </div><!-- End .mod-create-site -->
        
        </div>
        
        <div class="grid_8 omega">
        
        <div class="grid_8 alpha mod mod-existing-sites">
            <div class="mod-inner rounded-all dropshadow-generic">
                
                <h2>Your Existing Plone Sites</h2>
                
                <table class="mod mod-sites-stats">
                    <tbody>
                        <tr class="sites-db-usage">
                            <th>Total Database:</th>
                            <td>1.17 Mb (2.3% of 50 Mb)</td>
                        </tr>
                        <tr class="sites-bw-usage">
                            <th>Total Bandwidth:</th>
                            <td>0.00 Mb (0.0% of 512 Mb)</td>
                        </tr>
                        <tr class="sites-vhost hide">
                            <th>Virtual hosts:</th>
                            <td>Disabled</td>
                        </tr>
                        <tr class="sites-bots hide">
                            <th>Search bots:</th>
                            <td>Disabled</td>
                        </tr>
                    </tbody>
                </table>
                
                <p class="hide">If you have vhost controls, set vhost domain to <span class="domain">209.143.152.138</span>.</p>
                
                <ul>
                
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <table class="mod mod-site-stats">
                                <tr class="site-size">
                                    <th>size</th>
                                    <td>1.17Mb</td>
                                </tr>
                                <tr class="site-bandwidth">
                                    <th>bandwidth</th>
                                    <td>0.00Mb</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="site-actions">
                            
                            <form 
                                class="vhost" 
                                method="get" 
                                action="dashboard_action">
                                
                                <fieldset class="hide">
                                    <input type="hidden" name="site_id" value="1">
                                </fieldset>
                            
                                <fieldset>
                                    <ul class="inline">
                                        <li>
                                            <button type="submit" class="button generic icon-login no-icon iconish" title="Login">
                                                Login<span class="icon"></span>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#options" class="button generic icon-options icon-tiny iconish" title="Options"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                            
                                                <span class="header">Options</span>
                                                <span class="close rounded-circular">x</span>                                                    
                                                <ul class="menu">
                                                    <li><button type="submit" name="action" value="clone" title="Clone this Plone site">Clone</button></li>
                                                    <li><button type="submit" name="action" value="export" title="Export this Plone site">Export</button></li>
                                                    <li><button type="submit" name="action" value="transfer" title="Transfer ownership">Transfer</button></li>
                                                    <li><button type="submit" name="action" value="remove" title="Remove this Plone site">Remove</button></li>
                                                </ul>
                                                
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                                
                            </form>
                            
                        </div>
                        
                    </li>
                    
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <table class="mod mod-site-stats">
                                <tr class="site-size">
                                    <th>size</th>
                                    <td>1.17Mb</td>
                                </tr>
                                <tr class="site-bandwidth">
                                    <th>bandwidth</th>
                                    <td>0.00Mb</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="site-actions">
                            
                            <form 
                                class="vhost" 
                                method="get" 
                                action="dashboard_action">
                                
                                <fieldset class="hide">
                                    <input type="hidden" name="site_id" value="2">
                                </fieldset>
                            
                                <fieldset>
                                    <ul class="inline">
                                        <li>
                                            <button type="submit" class="button generic icon-login no-icon iconish" title="Login">
                                                Login<span class="icon"></span>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#options" class="button generic icon-options icon-tiny iconish" title="Options"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                                <span class="header">Options</span>
                                                <span class="close rounded-circular">x</span>
                                                <ul class="menu">
                                                    <li><button type="submit" name="action" value="clone" title="Clone this Plone site">Clone</button></li>
                                                    <li><button type="submit" name="action" value="export" title="Export this Plone site">Export</button></li>
                                                    <li><button type="submit" name="action" value="transfer" title="Transfer ownership">Transfer</button></li>
                                                    <li><button type="submit" name="action" value="remove" title="Remove this Plone site">Remove</button></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                                
                            </form>
                            
                        </div>
                        
                    </li>
                    
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <table class="mod mod-site-stats">
                                <tr class="site-size">
                                    <th>size</th>
                                    <td>1.17Mb</td>
                                </tr>
                                <tr class="site-bandwidth">
                                    <th>bandwidth</th>
                                    <td>0.00Mb</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="site-actions">
                            
                            <form 
                                class="vhost" 
                                method="get" 
                                action="dashboard_action">
                                
                                <fieldset class="hide">
                                    <input type="hidden" name="site_id" value="3">
                                </fieldset>
                            
                                <fieldset>
                                    <ul class="inline">
                                        <li>
                                            <button type="submit" class="button generic icon-login no-icon iconish" title="Login">
                                                Login<span class="icon"></span>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#options" class="button generic icon-options icon-tiny iconish" title="Options"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                                <span class="header">Options</span>
                                                <span class="close rounded-circular">x</span>
                                                <ul class="menu">
                                                    <li><button type="submit" name="action" value="clone" title="Clone this Plone site">Clone</button></li>
                                                    <li><button type="submit" name="action" value="export" title="Export this Plone site">Export</button></li>
                                                    <li><button type="submit" name="action" value="transfer" title="Transfer ownership">Transfer</button></li>
                                                    <li><button type="submit" name="action" value="remove" title="Remove this Plone site">Remove</button></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                                
                            </form>
                            
                        </div>
                        
                    </li>
                    
                </ul>
            </div>
        </div><!-- End .mod-existing-sites -->
        
        </div>
        
    </div>
</div><!-- End .main-content -->
{% endblock %}