{% extends "ui/index.html" %}

{% block main-content %}
<div id="main-content" class="grid_16 main-content" role="main">
    <div class="content-inner clear-fix">
        <h1>Dashboard</h1>
        
        <div class="grid_8 alpha">
        
        <div class="grid_8 alpha mod mod-create-site">
            <div class="mod-inner rounded-all dropshadow-generic">
                
                <form 
                    action="/dashboard/" 
                    method="get">
                
                    <h2>Create a New Plone Site</h2>
                    
                    <dl class="legend clear-fix">
                        <dt><span class="req">&bull;</span></dt>
                        <dd>denotes a required field.</dd>
                    </dl>
                    
                    <fieldset>
                    
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label class="formQuestion" for="form-widgets-site_name" title="">
                                    <span class="req">&bull;</span> Site Name
                                </label>
                            </div>                    
                            <div class="field-input">
                                <input 
                                    id="" 
                                    name="" 
                                    class="text rounded-all-inputs dropshadow-input" 
                                    value="" 
                                    type="text" />
                            </div>
                        </div>
                    
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label for="">
                                    <span class="req">&bull;</span> Site Type
                                </label>
                            </div>
                            <div class="field-input">
                                <select 
                                    id="" 
                                    class="select" 
                                    name="">
                                    
                                        <option id="form-widgets-site_type-0" value="plone41">Plone 4.1</option>
                                        <option id="form-widgets-site_type-1" value="nerdfiles-test">nerdfiles-test (Plone 4.1)</option>
                                    
                                </select>
                            </div>
                        </div>
                
                    </fieldset>
                    
                    <fieldset>
                        <div class="field-block clear-fix clear-fix submit-block">
                            <div class="field-input">
                                <button type="submit" class="button generic no-icon small-caps">
                                    Create Site<span class="icon"></span>
                                </button>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                </form>
    
            </div>
        </div><!-- End .mod-create-site -->
        
        </div>
        
        <div class="grid_8 omega">
        
        <div class="grid_8 alpha mod mod-stats">
            <div class="mod-inner rounded-all dropshadow-generic">
                <h2>Stats</h2>
                <table class="mod mod-sites-stats">
                    <tbody>
                        <tr class="sites-db-usage">
                            <th>Database:</th>
                            <td>1.17 Mb (2.3% of 50 Mb)</td>
                        </tr>
                        <tr class="sites-bw-usage">
                            <th>Bandwidth:</th>
                            <td>0.00 Mb (0.0% of 512 Mb)</td>
                        </tr>
                        <tr class="sites-vhost">
                            <th>Virtual hosts:</th>
                            <td>Disabled</td>
                        </tr>
                        <tr class="sites-bots">
                            <th>Search bots:</th>
                            <td>Disabled</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- End .mod-stats -->
        
        <div class="grid_8 alpha mod mod-existing-sites">
            <div class="mod-inner rounded-all dropshadow-generic">
                
                <h2>Your Existing Plone Sites</h2>
                
                <p>If you have vhost controls, set vhost domain to <span class="domain">209.143.152.138</span>.</p>
                
                <ul>
                
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <table class="mod mod-site-stats">
                                <tr class="site-size">
                                    <th>size</th>
                                    <td>1.17Mb</td>
                                </tr>
                                <tr class="site-bandwidth">
                                    <th>bandwidth</th>
                                    <td>0.00Mb</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="site-actions">
                            
                            <form 
                                class="vhost" 
                                method="get" 
                                action="dashboard_action">
                            
                                <fieldset>
                                    <ul class="inline">
                                        <li>
                                            <button type="submit" class="button generic icon-login no-icon iconish" title="Login">
                                                Login<span class="icon"></span>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#details" class="button generic icon-arrowdown icon-tiny iconish" title="Details"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                                <span class="close">close</span>
                                                <ul class="menu">
                                                    <li><a href="/test-1/">Test 1</a></li>
                                                    <li><a href="/test-2/">Test 2</a></li>
                                                </ul>
                                            </div>
                                        <li>
                                        <li>
                                            <a href="#options" class="button generic icon-options icon-tiny iconish" title="Options"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                                <span class="close">close</span>
                                                <ul class="menu">
                                                    <li><a href="/clone/">Clone</a></li>
                                                    <li><a href="/remove/">Remove</a></li>
                                                    <li><a href="/export/">Export</a></li>
                                                    <li><a href="/transfer/">Transfer</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                                
                            </form>
                            
                        </div>
                        
                    </li>
                    
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <table class="mod mod-site-stats">
                                <tr class="site-size">
                                    <th>size</th>
                                    <td>1.17Mb</td>
                                </tr>
                                <tr class="site-bandwidth">
                                    <th>bandwidth</th>
                                    <td>0.00Mb</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="site-actions">
                            
                            <form 
                                class="vhost" 
                                method="get" 
                                action="dashboard_action">
                            
                                <fieldset>
                                    <ul class="inline">
                                        <li>
                                            <button type="submit" class="button generic icon-login no-icon iconish" title="Login">
                                                Login<span class="icon"></span>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#details" class="button generic icon-arrowdown icon-tiny iconish" title="Details"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                                <span class="close">close</span>
                                                <ul class="menu">
                                                    <li><a href="/test-1/">Test 1</a></li>
                                                    <li><a href="/test-2/">Test 2</a></li>
                                                </ul>
                                            </div>
                                        <li>
                                        <li>
                                            <a href="#options" class="button generic icon-options icon-tiny iconish" title="Options"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                                <span class="close">close</span>
                                                <ul class="menu">
                                                    <li><a href="/clone/">Clone</a></li>
                                                    <li><a href="/remove/">Remove</a></li>
                                                    <li><a href="/export/">Export</a></li>
                                                    <li><a href="/transfer/">Transfer</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                                
                            </form>
                            
                        </div>
                        
                    </li>
                    
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <table class="mod mod-site-stats">
                                <tr class="site-size">
                                    <th>size</th>
                                    <td>1.17Mb</td>
                                </tr>
                                <tr class="site-bandwidth">
                                    <th>bandwidth</th>
                                    <td>0.00Mb</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="site-actions">
                            
                            <form 
                                class="vhost" 
                                method="get" 
                                action="dashboard_action">
                            
                                <fieldset>
                                    <ul class="inline">
                                        <li>
                                            <button type="submit" class="button generic icon-login no-icon iconish" title="Login">
                                                Login<span class="icon"></span>
                                            </button>
                                        </li>
                                        <li>
                                            <a href="#details" class="button generic icon-arrowdown icon-tiny iconish" title="Details"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                                <span class="close">close</span>
                                                <ul class="menu">
                                                    <li><a href="/test-1/">Test 1</a></li>
                                                    <li><a href="/test-2/">Test 2</a></li>
                                                </ul>
                                            </div>
                                        <li>
                                        <li>
                                            <a href="#options" class="button generic icon-options icon-tiny iconish" title="Options"><span class="icon"></span></a>
                                            <div class="site-actions-menu">
                                                <span class="close">close</span>
                                                <ul class="menu">
                                                    <li><a href="/clone/">Clone</a></li>
                                                    <li><a href="/remove/">Remove</a></li>
                                                    <li><a href="/export/">Export</a></li>
                                                    <li><a href="/transfer/">Transfer</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </fieldset>
                                
                            </form>
                            
                        </div>
                        
                    </li>
                    
                </ul>
            </div>
        </div><!-- End .mod-existing-sites -->
        
        </div>
        
    </div>
</div><!-- End .main-content -->
{% endblock %}