{% extends "ui/index.html" %}

{% block main-content %}
<div id="main-content" class="grid_16 main-content" role="main">
    <div class="content-inner clear-fix">
        <h1>Dashboard</h1>
        
        <div class="grid_8 alpha">
        
        <div class="grid_8 alpha mod mod-create-site">
            <div class="mod-inner rounded-all dropshadow-generic">
                
                <form 
                    action="/dashboard/" 
                    method="get">
                
                    <h2>Create a New Plone Site</h2>
                    
                    <dl class="legend clear-fix">
                        <dt><span class="req">&bull;</span></dt>
                        <dd>denotes a required field.</dd>
                    </dl>
                    
                    <fieldset>
                    
                        <div class="field-block">
                            <div class="field-label">
                                <label class="formQuestion" for="form-widgets-site_name" title="">
                                    <span class="req">&bull;</span> Site Name
                                </label>
                            </div>                    
                            <div class="field-input">
                                <input 
                                    id="" 
                                    name="" 
                                    class="text rounded-all-inputs dropshadow-input" 
                                    value="" 
                                    type="text" />
                            </div>
                        </div>
                    
                        <div class="field-block">
                            <div class="field-label">
                                <label for="">
                                    <span class="req">&bull;</span> Site Type
                                </label>
                            </div>
                            <div class="field-input">
                                <select 
                                    id="" 
                                    class="select" 
                                    name="">
                                    
                                        <option id="form-widgets-site_type-0" value="plone41">Plone 4.1</option>
                                        <option id="form-widgets-site_type-1" value="nerdfiles-test">nerdfiles-test (Plone 4.1)</option>
                                    
                                </select>
                            </div>
                        </div>
                
                    </fieldset>
                    
                    <fieldset>
                        <div class="field-block clear-fix submit-block">
                            <div class="field-input">
                                <button type="submit" class="button generic no-icon small-caps">
                                    Create Site<span class="icon"></span>
                                </button>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                </form>
    
            </div>
        </div><!-- End .mod-create-site -->
        
        </div>
        
        <div class="grid_8 omega">
        
        <div class="grid_8 alpha mod mod-stats">
            <div class="mod-inner rounded-all dropshadow-generic">
                <h2>Stats</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Database:</th>
                            <td>1.17 Mb (2.3% of 50 Mb)</td>
                        </tr>
                        <tr>
                            <th>Bandwidth:</th>
                            <td>0.00 Mb (0.0% of 512 Mb)</td>
                        </tr>
                        <tr>
                            <th>Virtual hosts:</th>
                            <td>Disabled</td>
                        </tr>
                        <tr>
                            <th>Search bots:</th>
                            <td>Disabled</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- End .mod-stats -->
        
        <div class="grid_8 alpha mod mod-existing-sites">
            <div class="mod-inner rounded-all dropshadow-generic">
                
                <h2>Your Existing Plone Sites</h2>
                
                <p>If you have vhost controls, set vhost domain to <span class="domain">209.143.152.138</span>.</p>
                
                <ul>
                
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <div class="site-stats">
                                <div class="site-size">size: 1.17Mb</div>
                                <div class="site-bandwidth">bandwidth: 0.00Mb</div>
                            </div>
                        </div>
                        
                        <div class="site-actions">
                            <ul class="inline">
                                <li><a href="#details" class="button generic icon-arrowdown icon-tiny iconish" title="Site Details"><span class="icon"></span></a></li>
                                <li><a href="#details" class="button generic icon-options icon-tiny iconish" title="Site Options"><span class="icon"></span></a></li>
                            </ul>
                            <form 
                                class="vhost hide" 
                                method="get" 
                                action="dashboard_action">
                                
                                <fieldset>
                                    <div class="field-block">
                                        <div class="field-input">
                                            <button type="submit" class="button generic">
                                                Login
                                                <span class="icon"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="field-block">
                                        <div class="field-input">
                                            <button type="submit" class="button generic no-icon">
                                                Remove
                                                <span class="icon"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                                
                            </form>
                        </div>
                        
                    </li>
                    
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <div class="site-stats">
                                <div class="site-size">size: 1.17Mb</div>
                                <div class="site-bandwidth">bandwidth: 0.00Mb</div>
                            </div>
                        </div>
                        
                        <div class="site-actions">
                            <ul class="inline">
                                <li><a href="#details" class="button generic icon-arrowdown icon-tiny iconish" title="Site Details"><span class="icon"></span></a></li>
                                <li><a href="#details" class="button generic icon-options icon-tiny iconish" title="Site Options"><span class="icon"></span></a></li>
                            </ul>
                            <form 
                                class="vhost hide" 
                                method="get" 
                                action="dashboard_action">
                                
                                <fieldset>
                                    <div class="field-block">
                                        <div class="field-input">
                                            <button type="submit" class="button generic">
                                                Login
                                                <span class="icon"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="field-block">
                                        <div class="field-input">
                                            <button type="submit" class="button generic no-icon">
                                                Remove
                                                <span class="icon"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                                
                            </form>
                        </div>
                        
                    </li>
                    
                    <li class="site clear-fix">
                        
                        <div class="site-info">
                            <a class="site-address" href="http://nerdfiles-test.ploud.net/">http://nerdfiles-test.ploud.net/</a>
                            <div class="site-stats">
                                <div class="site-size">size: 1.17Mb</div>
                                <div class="site-bandwidth">bandwidth: 0.00Mb</div>
                            </div>
                        </div>
                        
                        <div class="site-actions">
                            <ul class="inline">
                                <li><a href="#details" class="button generic icon-arrowdown icon-tiny iconish" title="Site Details"><span class="icon"></span></a></li>
                                <li><a href="#details" class="button generic icon-options icon-tiny iconish" title="Site Options"><span class="icon"></span></a></li>
                            </ul>
                            <form 
                                class="vhost hide" 
                                method="get" 
                                action="dashboard_action">
                                
                                <fieldset>
                                    <div class="field-block">
                                        <div class="field-input">
                                            <button type="submit" class="button generic">
                                                Login
                                                <span class="icon"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="field-block">
                                        <div class="field-input">
                                            <button type="submit" class="button generic no-icon">
                                                Remove
                                                <span class="icon"></span>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                                
                            </form>
                        </div>
                        
                    </li>
                    
                </ul>
            </div>
        </div><!-- End .mod-existing-sites -->
        
        </div>
        
    </div>
</div><!-- End .main-content -->
{% endblock %}