{% extends "ui/index.html" %}

{% if showstatus %}
    {% block status-block %}
    <div class="mod mod_status-message {{ statustype }} ~hide">
        <div class="mod-inner rounded-all">
            <span class="icon"></span>
            <div class="content">
                <h3>Login Message</h3>
                <p>Login message.</p>
            </div>
        </div>
    </div>
    {% endblock %}
{% endif %}

{% block main-content %}
<div id="main-content" class="grid_16 main-content" role="main">
    <div class="content-inner clear-fix">
    
        <h1>Membership</h1>
    
        <table class="mod mod-membership-table rounded-all">
            
            <thead>
                
                <tr>
                    <th class="type">Type</th>
                    <th class="cost">Cost</th>
                    <th class="link">Link</th>
                </tr>
            
            </thead>
            
            <tbody>
            
                <tr class="type-0">
                    <td class="type"><a href="/membership/free/">Free</a></td>
                    <td class="cost">$0</td>
                    <td class="link"><a href=""><span class="label">Link 1</span> <span class="icon"></span></a></td>
                </tr>
                
                <tr class="type-1">
                    <td class="type"><a href="/membership/type-1/">Type 1</a></td>
                    <td class="cost">$15</td>
                    <td class="link"><a href=""><span class="label">Link 2</span> <span class="icon"></span></a></td>
                </tr>
                
                <tr class="type-2">
                    <td class="type"><a href="/membership/type-2/">Type 2</a></td>
                    <td class="cost">$50</td>
                    <td class="link"><a href=""><span class="label">Link 3</span> <span class="icon"></span></a></td>
                </tr>
                
            </tbody>
            
        </table>
        
    </div>
</div>
{% endblock %}