{% extends "ui/index.html" %}

{% block main-content %}
<div id="main-content" class="main-content">
    <div class="content-inner clear-fix">
        <div class="grid_8 alpha mod mod-login rounded-all">
            <div class="mod-inner">
                Login
            </div>
        </div>
        <div class="grid_8 omega mod mod-signup rounded-all">
            <div class="mod-inner">
                Signup
            </div>
        </div>
    </div>
</div><!-- End .main-content -->
{% endblock %}