{% extends "ui/index.html" %}

{% block main-content %}
<div id="main-content" class="grid_16 main-content" role="main">
    <div class="content-inner clear-fix">
        <div class="grid_8 alpha mod mod-login">
            <div class="mod-inner rounded-all dropshadow-generic">
            
                <form
                    action="/dashboard/"
                    method="get">
                    
                    <h2>Login</h2>
                    
                    <dl class="legend clear-fix">
                        <dt><span class="req">&bull;</span></dt>
                        <dd>denotes a required field.</dd>
                    </dl>
                    
                    <div class="mod mod_status-message error hide">
                        <div class="mod-inner rounded-all">
                            <span class="icon"></span>
                            <div class="content">
                                <h3>Login Message</h3>
                                <p>Login message.</p>
                            </div>
                        </div>
                    </div>
                    
                    <fieldset>
                        <legend>Login Information</legend>
                        <div class="field-block clear-fix clear-fix">
                            <div class="field-label">
                                <label for="">
                                    <span class="req">&bull;</span> E-mail
                                </label>
                            </div>
                            <div class="field-input">
                                <input
                                    type="text"
                                    class="text rounded-all-inputs dropshadow-input"
                                    placeholder=""
                                    tabindex="1"
                                    id="login-email"
                                    name=""
                                />
                            </div>
                            <div class="field-note">
                                <p>Enter your e-mail.</p>
                            </div>
                        </div>
                        <div class="field-block clear-fix clear-fix">
                            <div class="field-label">
                                <label for="">
                                    <span class="req">&bull;</span> Password
                                </label>
                            </div>
                            <div class="field-input">
                                <input
                                    type="text"
                                    class="text rounded-all-inputs dropshadow-input"
                                    placeholder=""
                                    tabindex="1"
                                    id="login-password"
                                    name=""
                                />
                            </div>
                            <div class="field-note">
                                <p>Case sensitive, make sure caps lock is not enabled.</p>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                    <fieldset class="form-controls">
                        <legend>Login Submit</legend>
                        <div class="field-block clear-fix clear-fix submit-block">
                            <div class="field-input">
                                <button type="submit" class="button generic no-icon small-caps" tabindex="3">
                                    Login<span class="icon"></span>
                                </button>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                </form>
                
                <h3>Forgot your password?</h3>
                
                <p><a href="/reset-password/" title="Reset password">Reset password</a></p>
                
            </div>
        </div>
        <div class="grid_8 omega mod mod-signup">
            <div class="mod-inner rounded-all dropshadow-generic">
            
                <form 
                    action="/dashboard/" 
                    method="get">
                    
                    <h2>Signup</h2>
                    
                    <dl class="legend clear-fix">
                        <dt><span class="req">&bull;</span></dt>
                        <dd>denotes a required field.</dd>
                    </dl>
                    
                    <div class="mod mod_status-message success hide">
                        <div class="mod-inner rounded-all">
                            <span class="icon"></span>
                            <div class="content">
                                <h3>Activation code sent</h3>
                                <p>Activation code has been sent to your e-mail address.</p>
                            </div>
                        </div>
                    </div>
                    
                    <fieldset>
                        <legend>Signup Information</legend>
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label for="">
                                    <span class="req">&bull;</span> E-mail
                                </label>
                            </div>
                            <div class="field-input">
                                <input
                                    type="text"
                                    class="text rounded-all-inputs dropshadow-input"
                                    placeholder=""
                                    tabindex="4"
                                    id="signup-email"
                                    name=""
                                />
                            </div>
                            <div class="field-note">
                                <p>This is the username you will use to log in. It must be an e-mail address. <!--Your email address will not be displayed to any user or be shared with anyone else.--></p>
                            </div>
                        </div>
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label for="">
                                    <span class="req">&bull;</span> Password
                                </label>
                            </div>
                            <div class="field-input">
                                <input
                                    type="text"
                                    class="text rounded-all-inputs dropshadow-input"
                                    placeholder=""
                                    tabindex="5"
                                    id="signup-password"
                                    name=""
                                />
                            </div>
                            <div class="field-note">
                                <p>Enter the password. No spaces or special characters, should contain digits and letters in mixed case.</p>
                            </div>
                        </div>
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label for="">
                                    <span class="req">&bull;</span> Confirm Password
                                </label>
                            </div>
                            <div class="field-input">
                                <input
                                    type="text"
                                    class="text rounded-all-inputs dropshadow-input"
                                    placeholder=""
                                    tabindex="6"
                                    id="confirm-password"
                                />
                            </div>
                            <div class="field-note">
                                <p>Re-enter the password. Make sure the passwords are identical.</p>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                    <fieldset class="form-controls">
                        <legend>Signup Submit</legend>
                        <div class="field-block clear-fix clear-fix submit-block">
                            <div class="field-input">
                                <button type="submit" class="button generic no-icon small-caps" tabindex="7">
                                    Signup<span class="icon"></span>
                                </button>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                </form>
                
            </div>
        </div>
    </div>
</div><!-- End .main-content -->
{% endblock %}