{% extends "ui/index.html" %}

{% block global-header %}
    <div class="global-header">
        <div class="content-inner">
            
            <!-- Logged Out -->
            <ul class="global-nav ~hide">
                <li class="login"><a href="/login/">Login</a></li>
                <li class="signup"><a href="/signup/">Signup</a></li>
            </ul>
            
        </div>
    </div><!-- End .global-header -->
{% endblock %}

{% if showstatus %}
    {% block status-block %}
    <div class="mod mod_status-message warning ~hide">
        <div class="mod-inner rounded-all">
            <span class="icon"></span>
            <div class="status-header">
                <h3>Status Message</h3>
            </div>
            <div class="status-content">
                <p>Status message</p>
            </div>
        </div>
    </div>
    {% endblock %}
{% endif %}

{% block main-content %}
<div id="main-content" class="grid_16 main-content" role="main">
    <div class="content-inner clear-fix">
        <div class="grid_8 alpha mod mod-login">
            <div class="mod-inner rounded-all dropshadow-generic">
            
                <form
                    id="ploud-login"
                    action="/dashboard/"
                    method="get">
                    
                    <h2>Login</h2>
                    
                    <div class="mod mod_status-message error hide">
                        <div class="mod-inner rounded-all">
                            <span class="icon"></span>
                            <div class="status-header">
                                <h3>Activation code sent</h3>
                            </div>
                            <div class="status-content">
                                <p>Activation code has been sent to <span class="email">joe@user.com</span>.</p>
                                <div class="links">
                                    <ul>
                                        <li><a href="">Link 1 (One-time Token Login)</a></li>
                                        <li><a href="">Link 2 (Link To Plone Site)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <fieldset>
                        <legend>Login Information</legend>
                        <div class="field-block clear-fix clear-fix">
                            <div class="field-label">
                                <label for="login-email">
                                    <span class="req">&bull;</span> E-mail
                                </label>
                            </div>
                            <div class="field-input">
                                <input
                                    type="text"
                                    class="text rounded-all-inputs dropshadow-input"
                                    tabindex="1"
                                    id="login-email"
                                    name="login-email"
                                />
                            </div>
                            <div class="field-note">
                                <p>Enter your e-mail.</p>
                            </div>
                        </div>
                        <div class="field-block clear-fix clear-fix">
                            <div class="field-label">
                                <label for="login-password">
                                    <span class="req">&bull;</span> Password
                                </label>
                            </div>
                            <div class="field-input">
                                <input
                                    type="password"
                                    class="password rounded-all-inputs dropshadow-input"
                                    tabindex="2"
                                    id="login-password"
                                    name="login-password"
                                />
                            </div>
                            <div class="field-note">
                                <p>Case sensitive, make sure caps lock is not enabled. <a href="/reset-password/" title="Reset password" class="colorbox modal-cta-find:reset-password">Forgot password</a>?</p>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                    <fieldset class="form-controls">
                        <legend>Login Submit</legend>
                        <div class="field-block clear-fix clear-fix submit-block">
                            <div class="field-input">
                                <button type="submit" class="button generic no-icon small-caps" tabindex="3">
                                    Login<span class="icon"></span>
                                </button>
                            </div>
                            <div class="field-note">
                                <dl class="legend clear-fix">
                                    <dt><span class="req">&bull;</span></dt>
                                    <dd>denotes a required field.</dd>
                                </dl>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                </form>
                
            </div>
        </div>
        <div class="grid_8 omega mod mod-signup">
            <div class="mod-inner rounded-all dropshadow-generic">
            
                <form 
                    id="ploud-signup"
                    action="/signup/" 
                    method="get">
                    
                    <h2>Signup</h2>
                    
                    <div class="mod mod_status-message success hide">
                        <div class="mod-inner rounded-all">
                            <span class="icon"></span>
                            <div class="status-header">
                                <h3>Activation code sent</h3>
                            </div>
                            <div class="status-content">
                                <p>Activation code has been sent to <span class="email">joe@user.com</span>.</p>
                                <div class="links">
                                    <ul>
                                        <li><a href="">Link 1 (One-time Token Login)</a></li>
                                        <li><a href="">Link 2 (Link To Plone Site)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <fieldset>
                        <legend>Signup Information</legend>
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label for="">
                                    <span class="req">&bull;</span> E-mail
                                </label>
                            </div>
                            <div class="field-input">
                                <input
                                    type="text"
                                    class="text rounded-all-inputs dropshadow-input"
                                    placeholder=""
                                    tabindex="4"
                                    id="signup-email"
                                    name="signup-email"
                                />
                            </div>
                            <div class="field-note">
                                <p>This is the username you will use to log in. It must be an e-mail address. <!--Your email address will not be displayed to any user or be shared with anyone else.--></p>
                            </div>
                        </div>
                    
                        <div class="field-block clear-fix">
                            <div class="field-label">
                                <label for="signup-site-name" title="">
                                    <span class="req">&bull;</span> Site Name
                                </label>
                            </div>                    
                            <div class="field-input">
                                <input 
                                    id="signup-site-name" 
                                    name="signup-site-name" 
                                    class="text rounded-all-inputs dropshadow-input" 
                                    value="" 
                                    tabindex="5"
                                    type="text" />
                            </div>
                            <div class="field-note">
                                <p><span class="as-subdomain">.ploud.net</a></p>
                            </div>
                        </div>
                        
                    </fieldset><!-- End fieldset -->
                    
                    <fieldset class="form-controls">
                        <legend>Signup Submit</legend>
                        <div class="field-block clear-fix clear-fix submit-block">
                            <div class="field-input">
                                <button type="submit" class="button generic no-icon small-caps" tabindex="7">
                                    Signup<span class="icon"></span>
                                </button>
                            </div>
                            <div class="field-note">
                                <dl class="legend clear-fix">
                                    <dt><span class="req">&bull;</span></dt>
                                    <dd>denotes a required field.</dd>
                                </dl>
                            </div>
                        </div>
                    </fieldset><!-- End fieldset -->
                    
                </form>
                
            </div>
        </div>
    </div>
</div><!-- End .main-content -->
{% endblock %}