<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Ploud UI</title>
    
    <link 
        rel="shortcut icon" 
        href="/favicon.ico" 
    />
    
    <link 
        rel="apple-touch-icon" 
        href="/apple-touch-icon.png" 
    />
    
    <link 
        rel="stylesheet" 
        href="/_assets/_css-lib/960-Grid-System/code/css/reset.css" 
        media="all"
        type="text/css"
    />

    <link 
        rel="stylesheet" 
        href="/_assets/_css-lib/960-Grid-System/code/css/text.css" 
        media="all"
        type="text/css"
    />

    <link 
        rel="stylesheet" 
        href="/_assets/_css-lib/960-Grid-System/code/css/960_16_col.css" 
        media="all"
        type="text/css"
    />

    <link 
        rel="stylesheet" 
        href="/_assets/_css/global.css" 
        media="all"
        type="text/css"
    />
    
    <script src="/_assets/_js-lib/script.js/dist/script.min.js"></script>
    <script>
        $script('//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js', 'jquery');
        $script('/_assets/_js/global.js');
    </script>
</head>

<body class="ploud-net {{ body_class }}">

    <div class="container container_16 clear-fix">
    
        {% block accessibility %}
        <div class="access accessibly-hide">
            <div class="content-inner">
                <ul>
                    <li><a href="#main-content">Skip to Content</a></li>
                </ul>
            </div>
        </div><!-- End .access -->
        {% endblock %}
        
        {% block global-header %}
        <div class="global-header">
            <div class="content-inner">
                <ul class="global-nav">
                    <li><a href="/profile/">Profile</a></li>
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Signup</a></li>
                </ul>
            </div>
        </div><!-- End .global-header -->
        {% endblock %}
        
        {% block header %}
        <div class="header grid_16">
            <div class="content-inner">
                <div class="logo"><a href="/" title="Ploud">Ploud</a></div>
            </div>
        </div><!-- End .header -->
        {% endblock %}
        
        {% if showintro %}
            {% block intro %}
            <div class="intro grid_16">
                <div class="content-inner">
                    <h1>What is Ploud?</h1>
                    <p>Ploud is a free, easy-to-use service for creating and hosting Plone sites. Plone is a powerful open source content management system.</p>
                </div>
            </div><!-- End .intro -->
            {% endblock %}
        {% endif %}
        
        {% block main-content %}
            <!-- Main Content -->
        {% endblock %}
        
        {% block footer %}
        <div class="footer grid_16">
            <div class="content-inner">
                <p>&copy; 2011, <a href="http://www.enfoldsystems.com/" rel="external">Enfold Systems</a>, Inc. — The Plone Experts.</p>
            </div>
        </div><!-- End .footer -->
        {% endblock %}
        
    </div> <!-- End #container -->

</body>
</html>
