{% extends "ui/index.html" %}

{% block global-header %}
    <div class="global-header">
        <div class="content-inner">
            
            <!-- Logged Out -->
            <ul class="global-nav ~hide">
                <li class="login"><a href="/login/">Login</a></li>
                <li class="signup"><a href="/signup/">Signup</a></li>
            </ul>
            
        </div>
    </div><!-- End .global-header -->
{% endblock %}

{% if showstatus %}
    {% block status-block %}
    <div class="mod mod-status-message {{ statustype }} ~hide">
        <div class="mod-inner rounded-all">
            <span class="icon"></span>
            <div class="status-header">
                <h3>Status Message</h3>
            </div>
            <div class="status-content">
                <p>Status message</p>
            </div>
        </div>
    </div>
    {% endblock %}
{% endif %}

{% block main-content %}
<div id="main-content" class="grid_16 main-content" role="main">
    <div class="content-inner clear-fix">
        <h1>Logout</h1>
        <p>State: Not Logged In</p>
        <p>Expected: Redirect to <a href="/">Homepage</a></p>
    </div>
</div>
{% endblock %}