{% extends "ui/index.html" %}

{% if showstatus %}
    {% block status-block %}
    <div class="mod mod_status-message {{ statustype }} ~hide">
        <div class="mod-inner rounded-all">
            <span class="icon"></span>
            <div class="content">
                <h3>Login Message</h3>
                <p>Login message.</p>
            </div>
        </div>
    </div>
    {% endblock %}
{% endif %}

{% block main-content %}
<div id="main-content" class="grid_16 main-content" role="main">
    <div class="content-inner clear-fix">
        <h1>Profile</h1>
        <form
            id="ploud-profile"
            action="/dashboard/"
            method="get">
            
            <h2>Full Name</h2>
            
            <fieldset class="hide">
            
                <div class="mod mod-preview">
                    <div class="mod-inner">
                        <div class="field-block clear-fix">
                            <div class="field-preview">
                                <label for="change-profile-image">
                                    <img src="http://dummyimage.com/200x200/000/fff" />
                                </label>
                            </div>
                            <div class="field-label">
                                <label for="change-profile-image">Profile Image</label>
                            </div>
                            <div class="field-input">
                                <input
                                    id="change-profile-image"
                                    name=""
                                    class="file rounded-all-inputs dropshadow-input"
                                    type="file"
                                />
                            </div>
                        </div><!-- End .field-block -->
                    </div>
                </div>
                
            </fieldset>
            
            <fieldset>

                <div class="field-block clear-fix">
                    <div class="field-label">
                        <label for="login-email">Login</label>
                    </div>
                    <div class="field-input">
                        <input
                            id="login-email"
                            name="login-email"
                            class="text readonly rounded-all-inputs dropshadow-input"
                            type="text"
                            readonly="readonly"
                            value="joe@user.com"
                        />
                    </div>
                    <div class="field-note">
                        <p>Your login cannot be changed.</p>
                    </div>
                </div><!-- End .field-block -->
            
                <div class="field-block clear-fix">
                    <div class="field-label">
                        <label for="change-password">Change Password</label>
                    </div>
                    <div class="field-input">
                        <input
                            id="change-password"
                            name="change-password"
                            class="text rounded-all-inputs dropshadow-input"
                            type="password"
                        />
                    </div>
                </div><!-- End .field-block -->
                
                <div class="field-block clear-fix">
                    <div class="field-label">
                        <label for="confirm-password">Confirm Password</label>
                    </div>
                    <div class="field-input">
                        <input
                            id="confirm-password"
                            name="confirm-password"
                            class="text rounded-all-inputs dropshadow-input"
                            type="password"
                        />
                    </div>
                </div><!-- End .field-block -->
                
            </fieldset>
            
            <fieldset class="form-controls">
                <div class="field-block clear-fix">
                    <div class="field-input">
                        <button type="submit" class="button generic no-icon">
                            Edit<span class="icon"></span>
                        </button>
                    </div>
                </div>
            </fieldset>
            
        </form>
    </div>
</div>
{% endblock %}