@charset "utf-8";

/**
 * Imports
 */

/*
@import url("access.css");
@import url("global-header.css");
@import url("header.css");
@import url("intro.css");
@import url("footer.css");
*/

/**
 * Web Fonts
 */ 
 
/*@import url(http://fonts.googleapis.com/css?family=Michroma&v2);*/
/*@import url(http://fonts.googleapis.com/css?family=News+Cycle&v2);*/
@import url(http://fonts.googleapis.com/css?family=Raleway:100&v2);

/**
 * Global
 */

body { 
    overflow-y: scroll; 
    background: #fff url("../_img-ui/bg.png") top left repeat-x; }

/**
 * Global Typesetting
 */
 
body,
input,
select,
textarea { font-family: "HelveticaNeue-Light", 
                        "Helvetica Neue Light", 
                        "Helvetica Neue", 
                        Arial, 
                        FreeSans, 
                        sans-serif; }

/**
 * Utils 
 */

.clear-fix:before,
.clear-fix:after {
    content:"";
    display:table; }
.clear-fix:after { clear:both; }
.clear-fix { zoom:1; }
.hide { display: none; }
.accessibly-hide { position: absolute; left: -9999px; }
ul.inline li { display: inline; }
ol.inline li { display: inline; }
dl.legend { font-size: 12px; }
dl.legend dt { float: left; margin: 0 1em 0 0; }

/**
 * Demo Utils
 */
 
.demo-container { }
dl.demo-dictionary { clear: left; }
dl.demo-dictionary dt { padding: 5px 0; }
dl.demo-dictionary dd { padding: 5px 0; }
dl.demo-dictionary .demo-term { float: left; clear: left; padding: 20px 10px 15px 0; width: 150px; border-right: 1px #ccc solid; }
dl.demo-dictionary .demo-example { text-align: center; margin: 0 0 10px 0; padding: 10px 10px 10px 10px; float: left; width: 300px; }
dl.demo-dictionary .demo-code { width: 425px; padding: 0 15px; margin: 0 0 20px 0; float: left; }
dl.demo-dictionary .demo-code pre { margin: 10px 0 0 0; border: 1px #ccc solid; background: #fff; padding: 10px; }
dl.demo-dictionary .demo-code code { border: 1px #ccc solid; background: #fff; padding: 10px; margin: 10px 0 0 0; display: inline-block; *zoom: 1; *display: inline; }

/**
 * Anchors
 */
 
a,
a:link { color: #516064; }
a:visited { }
a:hover { color: #444; }
a:active { }

/**
 * Inputs
 */
 
input,
select,
textarea { }

input:focus,
select:focus,
textarea:focus { outline: none; }

input { font-size: 18px; vertical-align: baseline; padding: 5px 8px; }

/**
 * CSS3 Utils
 */
 
/* Text Styles */

.req { color: #c30; vertical-align: super; }
.not-req { }
.domain { 
    background: #fff; 
    padding: 5px 7px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    
.small-caps,
button.small-caps { 
    font-size: 18px;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: .3em 1.6em .35em; }
 
/* Rounded Corners */

.rounded-all { 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

.rounded-all-inputs { 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

/* Shadows */

.dropshadow-generic { -webkit-box-shadow: 0 0 2em rgba(169, 211, 225, .6); }
.dropshadow-input { -webkit-box-shadow: 0 0 .5em rgba(200,200,200, .5); }
.dropshadow-input:focus { -webkit-box-shadow: 0 0 .5em rgba(200,200,200, .5); }

/* Buttons! */
    
.button { 
    display: inline-block; 
    outline: none; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    font: 600 14px/100% Arial, Helvetica, sans-serif; 
    padding: .5em 2em .55em; 
    text-shadow: 0 1px 1px rgba(255,255,255,.6); 
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em; 
    border-radius: .5em; 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2); 
    box-shadow: 0 1px 2px rgba(0,0,0,.2); }
    
.button:hover { text-decoration: none; } 

.button:active { 
    position: relative; 
    top: 1px; } 
    
    .iconish { padding-left: 1em; padding-right: 1em; }
    .iconish span.icon { padding: 0; }
        
    /* ploud.net Style */
    
    .generic { 
        color: #777; 
        border: solid 1px #ccc; 
        background: #e0e0e0; 
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e0)); 
        background: -moz-linear-gradient(top, #ffffff, #e0e0e0); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0'); } 
        
    .generic:hover { 
        color: #82bbce;
        background: #eaeaea; 
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea)); 
        background: -moz-linear-gradient(top, #ffffff, #eaeaea); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea'); } 
        
    .generic:active { 
        color: #111; 
        background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea)); 
        background: -moz-linear-gradient(top, #ffffff, #eaeaea); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea'); } 
        
    /* Icon Style */
    
    span.icon { display: inline-block; *zoom: 1; *display: inline; vertical-align: bottom; padding: 0 3px; }
    .no-icon .icon { display: none; }
    .icon-details .icon { background: url("http://www.iconfinder.com/ajax/download/png/?id=5858&s=16") no-repeat; }
    .icon-options .icon { background: url("http://www.iconfinder.com/ajax/download/png/?id=24541&s=16") no-repeat; }
    .icon-arrowdown .icon { background: url("http://www.iconfinder.com/ajax/download/png/?id=10133&s=16") no-repeat; }
    .icon-tiny .icon { width: 16px; height: 16px; }

/**
 * Global Header
 */
 
.global-header { position: relative; }
.global-header .content-inner { }

/* Global Nav */

.global-nav { 
    position: absolute; 
    top: 0; 
    right: 0; 
    background: #fff; 
    padding: 5px;
    margin: 0 10px 0 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
.global-nav li { float: left; list-style: none; margin: 0; }
.global-nav li:after { content: "|"; color: #999; }
.global-nav li:last-child:after { content: ""; }
.global-nav a { padding: 5px; }
.global-nav .profile { padding: 0 0 0 5px; }
.global-nav .profile a { padding: 5px 5px 5px 0; }
.global-nav .dashboard { }
.global-nav .login { }
.global-nav .signup { }

/**
 * Header
 */
 
.header { margin: 0 0 30px; }

/**
 * Footer
 */

.footer { 
    color: #959EA1; 
    margin-bottom: 50px; }
    
/* Logo */

.logo { 
    width: 200px;
    height: 100px;
    text-indent: -9999px;
    text-align: left;
    margin: 0 0 0 10px;
    background: url('http://dummyimage.com/200x100/000/fff&text=ploud') no-repeat; }
.logo a { display: block; width: 200px; height: 100px; }

/**
 * Intro
 */

.intro { margin-bottom: 20px; } 
.intro .content-inner { padding: 0 30px; }
.intro h1 { font-size: 3em; }
.intro p { 
    font: 2em/1.5 "Raleway", "Helvetica Neue", Arial, FreeSans, sans-serif; 
    letter-spacing: 2px; }

/**
 * Main Content 
 */

.main-content { margin-bottom: 50px; }

/**
 * Modules
 */

.mod { } 
.mod:hover .mod-inner { background: rgba(255,255,255,.3); } 
.mod h2 { 
    color: #fff; 
    text-shadow: 0 0 5px rgba(150,150,150, .4); 
    letter-spacing: 3px; }

/* Login */

.mod-login { }
    
.mod-login .mod-inner { 
    /*background: #fff;*/
    padding: 30px; 
    font-size: 1.2em; 
    border: 1px #a9d3e1 solid; }
.mod-login legend { position: absolute; left: -9999px; }
.mod-login fieldset { margin: 0; }
.mod-login .field-block { margin: 0 0 10px 0; }
.mod-login .submit-block { margin: 0; }
.mod-login .field-label { margin: 0 0 10px 0; }
.mod-login .field-input { float: left; margin: 0 10px 0 0; }
.mod-login .field-note { margin: 10px 0 0 0; float: left; font-size: 12px; width: 185px; color: #888; }
.mod-login input.text { border: solid 1px #999; }
.mod-login h3 { margin: 30px 0 10px; }
.mod-login p { margin: 0; }
 
/* Signup */

.mod-signup { }
.mod-signup .mod-inner { 
    /*background: #fff;*/ 
    padding: 30px; 
    font-size: 1.2em; 
    border: 1px #a9d3e1 solid; }
.mod-signup legend { position: absolute; left: -9999px; }
.mod-signup fieldset { margin: 0; }
.mod-signup .field-block { margin: 0 0 10px 0; }
.mod-signup .submit-block { margin: 0; }
.mod-signup .field-label { margin: 0 0 10px 0; }
.mod-signup .field-input { float: left; margin: 0 10px 0 0; }
.mod-signup .field-note { margin: 10px 0 0 0; float: left; font-size: 12px; width: 185px; color: #888; }
.mod-signup input.text { border: solid 1px #999; }
.mod-signup p { margin: 0; }

/* Stats */

.mod-stats { margin-bottom: 20px; }
.mod-stats .mod-inner { 
    padding: 30px; 
    font-size: 1.2em; 
    border: 1px #a9d3e1 solid; }
.mod-stats table { margin: 0; }
.mod-stats th,
.mod-stats td { padding: 5px; }
.mod-stats th { padding-left: 0; }

/* Existing Sites */

.mod-existing-sites { }
.mod-existing-sites .mod-inner { 
    padding: 30px; 
    font-size: 1.2em; 
    border: 1px #a9d3e1 solid; }
.mod-existing-sites ul { list-style: none; margin: 0; }
.mod-existing-sites li { margin: 0 0 10px 0; }
.mod-existing-sites .site-info { float: left; }
.mod-existing-sites .site-actions { float: right; text-align: right; }
.mod-existing-sites .site-actions li { margin: 0 0 5px 0; }
.mod-existing-sites .site-stats { font-size: 12px; }
.mod-existing-sites .site-address { 
    margin: 0 0 5px 0;
    display: inline-block; }

/* Create Site */

.mod-create-site { }
.mod-create-site .mod-inner { 
    padding: 30px; 
    font-size: 1.2em; 
    border: 1px #a9d3e1 solid; }
.mod-create-site input { border: solid 1px #999; }
.mod-create-site fieldset:last-child { margin-bottom: 0; }
