@charset "utf-8";

/**
 * Imports
 */

@import url("access.css");
@import url("global-header.css");
@import url("header.css");
@import url("intro.css");
@import url("footer.css");

/**
 * Global
 */

body { background: #deeff4; }

/**
 * Utils 
 */

.clear-fix:before,
.clear-fix:after {
    content:"";
    display:table; }
.clear-fix:after { clear:both; }
.clear-fix { zoom:1; }
.hide { display: none; }
.accessibly-hide { position: absolute; left: -9999px; }

/**
 * CSS3 Utils
 */
 
.rounded-all { 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

/**
 * Main Content 
 */

.main-content { }