.global-header { position: relative; }
.global-header .content-inner { }

.global-nav { 
    position: absolute; 
    top: 0; 
    right: 0; 
    background: #fff; 
    padding: 5px;
    margin: 0 10px 0 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
.global-nav li { float: left; list-style: none; margin: 0; }
.global-nav a { padding: 5px; }